
.icon-cw:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-light-up:before { content: '\e802'; } /* '' */
.icon-lock-open-alt:before { content: '\f075'; } /* '' */
.icon-moon:before { content: '\f186'; } /* '' */
